<div class="gameName" data-id="<%=@game.id%>"><%= @game.name %></div>
<ul id="user-games"></ul>

<a href="#" class="js-next" data-id="<%=@game.id%>">Next...</a>
<p class="matchDate"></p>


<script type="text/javascript" charset="utf-8">


      // $(".gameName").text(data["name"]);
 </script>


